.header {
  .topbar {
    background: $lerui-blue;
    padding: 8px 0;

    .top-contact {
      padding: 8px 0;

      .single-contact {
        display: inline-block;
        color: $white;
        cursor: pointer;
        line-height: 24px;
        font-size: 14px;

        &:hover {
          color: $gray-300;
        }

        &:last-child {
          margin-right: 0 !important;
        }

        i {
          margin-right: 8px;
        }
      }
    }

    .top-right {
      .qoute a {
        text-decoration: underline;
      }

      .dropdown-item {
        font-size: 14px;
      }
    }
  }

  .main-nav {
    background: $white;
    transition: all 0.6s ease;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 10%);

    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; // remove the gap so it doesn't close
      border-radius: 0;
    }

    .nav-item a.nav-link {
      color: $lerui-black;
      text-transform: capitalize;
      position: relative;
      font-weight: 600;
      padding: 34px 0;
      margin-right: 30px;

      &:hover, &.active {
        color: $lerui-blue;

        &:before {
          width: 50%;
          opacity: 1;
          visibility: visible;
          transform: scaleY(1);
        }
      }

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 4px;
        background: $lerui-blue;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      &:after {
        content: none;
      }
    }

    .right-bar {
      display: inline-block;
      height: 100%;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;

      .right-nav {
        position: relative;
        z-index: 10;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }

          a {
            color: $lerui-blue;
            text-align: center;
            display: block;
            cursor: pointer;
            border: 1px solid $lerui-blue;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            border-radius: 100%;

            &:hover {
              color: $white;
              border-color: transparent;
              background: $lerui-blue;
            }
          }
        }
      }
    }


    .search-top {
      position: absolute;
      z-index: 9999;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      top: 85px;
      width: 350px;
      right: 0;
      line-height: initial;

      &.active {
        opacity: 1;
        visibility: visible;

        .search i:before {
          content: "\f00d";
        }
      }

      .search-form {
        position: relative;
        background: #fff;
        padding: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);

        input {
          height: 50px;
          line-height: 45px;
          padding: 0 45px 0 20px;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          transition: all 0.4s ease;
          background: #fff;
          color: #333;
          border-radius: 0px;
          width: 100%;
          font-size: 14px;
          border: 1px solid #ebebeb;
        }

        button {
          position: absolute;
          width: 45px;
          border: none;
          top: 15px;
          line-height: 50px;
          height: 50px;
          border-radius: 0;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          transition: all 0.4s ease;
          right: 16px;
          background: #333333;
          color: #fff;

          &:hover {
            background: $gray-600;
          }
        }

      }
    }
  }
}

/*======================================
	Hero Area CSS
========================================*/
.hero-slider {
  overflow: hidden;
  position: relative;
  height: 600px;

  .single-slider {
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;

    .slide-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.65;
    }
  }

  .welcome-text {
    margin: 160px 0 0;
  }

  .hero-text {
    h4 {
      color: #fff;
      margin-bottom: 10px;
      font-weight: 400;
      display: inline-block;
      background: $lerui-blue;
      padding: 8px 20px;
      font-size: 16px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        border-top: 8px solid $lerui-blue;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }

    h1 {
      color: $lerui-black;
      font-size: 50px;
      font-weight: bold;
      line-height: 65px;
      margin-bottom: 20px;
      padding-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 50px;
        height: 6px;
        background: $lerui-blue;
        bottom: -3px;
      }
    }

    .p-text {
      max-width: 80%;
    }

    p {
      color: #666;
      font-size: 15px;
    }

    .button {
      margin-top: 30px;
    }
  }

  .hero-text.text-center {
    h1 {
      &::before {
        left: 50%;
        margin-left: -25px;
      }
    }
  }

  .hero-text.text-right {
    h1 {
      &::before {
        left: auto;
        right: 0;
        margin: 0;
      }
    }
  }

  .owl-nav {
    margin: 0;
    width: 100%;
  }

  .owl-carousel {
    .owl-nav {
      button {
        width: 50px;
        height: 60px;
        line-height: 60px;
        background: $lerui-blue;
        color: #fff;
        position: absolute;
        margin: 0;
        padding: inherit;
        font-size: 30px;
        text-align: center;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        border-radius: 0px;
        top: 50%;
        margin-top: -30px;

        &:hover {
          color: $lerui-blue;
          background: $white;
        }
      }

      .owl-prev {
        left: -100px;
      }

      .owl-next {
        right: -100px;
      }
    }

    .owl-dots {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);

      .owl-dot {
        &.active span, &:hover span {
          background: $lerui-blue;
        }
      }
    }
  }

  &:hover {
    .owl-carousel {
      .owl-nav {
        .owl-prev {
          left: 0px;
        }

        .owl-next {
          right: 0px;
        }
      }
    }
  }

  .owl-item.active {
    .hero-text {
      h4 {
        animation: fadeInUp 0.8s both 1s;
      }

      h1 {
        animation: fadeInRight 1s both 1.2s;
      }

      p {
        animation: fadeInLeft 1.2s both 1.4s;
      }
    }

    .button {
      animation: fadeInUp 1.4s both 1.6s;
    }
  }
}

/*====================================
	About Us CSS
======================================*/
.about-us {
  background: #fff;

  .about-video {
    margin-top: 30px;
  }

  .single-video {
    position: relative;

    img {
      width: 100%;
    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 65px;
      height: 65px;
      text-align: center;
      line-height: 65px;
      font-size: 25px;
      border-radius: 100%;
      color: #fff;
      cursor: pointer;
      border: 2px solid #fff;
      padding-left: 4px;
      margin: -32.5px 0 0 -32.5px;

      &:hover {
        background: #fff;
        border-color: transparent;
      }
    }
  }

  .about-content {
    margin-top: 30px;

    h2 {
      margin-bottom: 20px;
      font-size: 25px;
      text-transform: capitalize;
      line-height: 30px;
    }

    p {
      margin-bottom: 15px;
      color: #666666;
    }
  }

  .sell-content {
    .sell-label {
      font-weight: bolder;
      font-size: 50px;
    }

    li {
      margin-bottom: 15px;
      color: #666666;

      i {
        margin-right: 10px;
        color: $lerui-blue;
      }
    }
  }
}

/*======================================
	Portfolio CSS
========================================*/
/* Portfolio Nav */
.portfolio-menu {
  text-align: center;
  margin: 20px 0 50px 0;
}

#portfolio-nav {
  display: inline-block;
  margin: 0;
  overflow: hidden;

  li {
    padding: 0;
    position: relative;
    cursor: pointer;
    background: transparent;
    box-shadow: none;
    color: #2E2751;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 16px;
    float: left;
    margin: 0 5px 0 0;
    text-transform: capitalize;
    font-weight: 600;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #cccccc9e;

    &:last-child {
      margin-right: 0px;
      padding-right: 0px;
      border: none;
    }

    &:hover {
      color: $lerui-blue;
    }
  }

  li.active {
    color: $lerui-blue;
  }
}

.single-portfolio {
  .portfolio-head.overlay {
    &::before {
      opacity: 0;
      visibility: hidden;
    }
  }

  &:hover {
    .portfolio-head.overlay {
      &::before {
        opacity: 0.8;
        visibility: visible;
      }
    }

    .portfolio-content.hover {
      opacity: 1;
      visibility: visible;
    }

    .more {
      opacity: 1;
      visibility: visible;
    }
  }

  .portfolio-content.hover {
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 333;
    top: 0;

    h4 {
      a {
        color: #fff !important;
      }
    }

    p {
      color: #eee;
    }
  }

  .portfolio-content {
    .zoom {
      height: 70px;
      width: 70px;
      line-height: 68px;
      text-align: center;
      font-size: 20px;
      color: $lerui-blue;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -35px;
      margin-top: -35px;
      display: block;
      z-index: 34;
      background: #fff;
      border-radius: 50px;
      border: 2px solid transparent;

      &:hover {
        border-color: #fff;
        color: #fff;
        background-color: transparent;
      }
    }

    position: relative;
    text-align: left;
    width: 100%;
    padding: 18px 20px;
    border-left: 3px solid $lerui-blue;
    background: #fff;
    display: inline-block;
    z-index: 22222;
    -webkit-box-shadow: -2px 2px 6px #0000002e;
    -moz-box-shadow: -2px 2px 6px #0000002e;
    box-shadow: -2px 2px 6px #0000002e;

    h4 {
      line-height: 24px;
      font-size: 18px;

      a {
        font-size: 18px;
        color: #2E2751;
        text-transform: capitalize;
      }

      &:hover {
        a {
          opacity: 0.8;
          color: $lerui-blue;
        }
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  position: relative;
  background: #fff;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

  .portfolio-head {
    position: relative;
    z-index: 66;
  }

  img {
    display: block;
    width: 100%;
    z-index: 3;
    transition: all 0.8s ease;
  }

  .more {
    height: 50px;
    width: 50px;
    opacity: 0;
    line-height: 51px;
    text-align: center;
    color: #fff;
    background: $lerui-blue;
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    bottom: 0;
    font-size: 17px;
    border-radius: 100%;
    box-shadow: 0px 5px 5px #00000024;
    z-index: 333;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    visibility: hidden;

    &:hover {
      background: #fff;
      color: $lerui-blue;
    }
  }
}

/*=============================
	Case Area
===============================*/
.case-area, .contact-area, .map-area {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 70px 0;
  background-attachment: fixed;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $lerui-blue;
    opacity: 0.9;
    top: 0;
  }

  .section-title {
    h2, p {
      color: $white;
    }

    .title-bg {
      opacity: 0.1;
    }
  }
}

/*======================================
	Services CSS
========================================*/
.single-case {
  position: relative;
  background: #fff;
  margin-top: 30px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  text-align: left;

  .case-head {
    position: relative;
  }

  .case-content {
    padding: 30px 20px;

    p {
      margin: 0;
      color: #666666;
    }
  }

  h4 {
    position: relative;
    margin-bottom: 10px;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;

    a {
      color: $lerui-black;
      font-size: 20px;
    }

    &:hover {
      a {
        color: $lerui-blue;
      }
    }
  }

  p {
    font-size: 15px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .btn {
    background: transparent;
    margin-top: 15px;
    font-size: 15px;
    padding: 0;
    color: $lerui-blue;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.6;
    }

    i {
      margin-right: 5px;
    }
  }
}

.news {
  .single-blog {
    border-bottom: 3px solid $lerui-blue;

    .blog-bottom {
      a {
        font-size: 20px;
        color: $lerui-black;

        &:hover {
          color: $lerui-blue;
        }
      }

      p {
        font-size: 15px;
        color: #666666;
      }

      .meta {
        font-size: 14px;
        color: #666666;

        span {
          margin-right: 10px;
        }

        a {
          font-size: 14px;
          color: $lerui-blue;
        }

        i {
          color: $lerui-blue;
          margin-right: 5px;
        }
      }
    }
  }
}

.contact-area {
  padding: 50px 0;

  .section-title {
    padding: 0;
    text-align: left;
    margin-bottom: 0;
  }

  .button {
    position: relative;
    z-index: 222;
  }
}

.footer {
  background-image: url("../img/map.png");
  background-color: $lerui-black;

  .footer-top {
    padding: 50px 0 60px;
  }

  .single-widget {
    margin-top: 30px;

    h2 {
      color: $white;
    }

    .footer-address {
      li {
        color: $white;
        padding-bottom: 12px;

        a {
          color: $white;
        }

        i {
          margin-right: 10px;
        }
      }
    }

    h3 {
      color: #fff;
      font-size: 18px;
      position: relative;
      text-transform: capitalize;
      margin-bottom: 15px;
      padding-bottom: 15px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 40px;
        height: 2px;
        bottom: -1px;
        background: $lerui-blue;
        display: block;
      }
    }
  }

  p {
    color: #ccc;
    font-size: 14px;
  }

  .f-link {
    ul {
      li {
        margin-bottom: 0;
        position: relative;
        padding-left: 25px;
        line-height: 34px;

        &:before {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          height: 10px;
          width: 10px;
          border-radius: 100%;
          margin-top: -5px;
          background: #d4d4d4;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          transition: all 0.4s ease;
        }

        &:hover {
          &:before {
            background: $lerui-blue;
          }
        }

        &:last-child {
          margin-bottom: 0px;
        }

        a {
          display: inline-block;
          color: #B4B4B4;
          padding: 0;
          margin: 0;
          background: transparent;
          font-size: 14px;
          font-weight: normal;

          &::before {
            display: none;
          }

          &:hover {
            color: $lerui-blue;
          }
        }
      }

      box-shadow: none;
      margin: 0;
    }
  }

  .copyright {
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
  }

  .copyright-content {
    p {
      color: #fff;
      font-size: 14px;

      span {
        font-size: 17px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }

    a {
      &:hover {
        color: $lerui-blue;
      }
    }
  }
}

/*====================================
	BreadCrumbs CSS
======================================*/
.breadcrumbs {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 60px 0;
  z-index: 10;

  &::before {
    background: #000;
    opacity: 0.6;
  }

  .bread-title {
    z-index: 3333;
    position: relative;
    border-radius: 5px;

    p {
      color: #fff;
      font-size: 13px;
    }
  }

  h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    margin: 0;
    padding: 0;
    line-height: 45px;
    z-index: 333;
    position: relative;
    font-weight: 700;
  }

  .bread-list {
    display: block;
    margin-top: 15px;
  }

  ul {
    margin-bottom: 0;

    li {
      display: inline-block;

      span {
        margin: 0px 10px;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
      }

      a {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;

        &:hover {
          opacity: 0.8;
          color: #fff !important;
        }
      }
    }
  }

  .bread-menu {
    color: #fff;
    z-index: 333;
    position: relative;
    line-height: initial;
    padding-left: 30px;
    font-size: 0;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      width: 32px;
      height: 5px;
      left: 0;
      background: $lerui-blue;
      margin-top: -2.5px;
    }

    li {
      a {
        color: #fff;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 18px;
        font-weight: 500;
        padding-right: 8px;
        margin-right: 8px;
        display: inline-block;

        &:hover {
          color: $lerui-blue;
        }
      }

      &:last-child {
        margin: 0;
        padding: 0;
      }

      + {
        li {
          &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            left: -7px;
            position: relative;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.breadcrumbs.bread-blog {
  text-align: center;
  background: #F4F9FC;
  margin: 0;
  padding: 20px;

  .bread-menu {
    &:before {
      display: none;
    }

    ul {
      li {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          right: 7.5px;
          width: 12px;
          font-size: 0;
          height: 12px;
          left: auto;
          background: $lerui-blue;
          top: 6px;
          border-radius: 100%;
          border: 2px solid #fff;
        }

        &:last-child {
          &:before {
            display: none;
          }
        }

        a {
          color: #2E2751;
          font-size: 15px;
          margin-right: 15px;
          padding-right: 15px;
          position: relative;

          &:hover {
            color: $lerui-blue !important;
          }
        }
      }
    }
  }
}

/*======================================
	Contact Form CSS
========================================*/
.contact-form-area {
  background: #fff;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
  border-top: 3px solid $lerui-blue;

  h4 {
    font-size: 22px;
    font-weight: 600;
  }

  .form-group {
    margin-top: 20px;
    position: relative;

    input {
      height: 50px;
      border: 1px solid rgba(204, 204, 204, 0.58);
      width: 100%;
      display: block;
      border-radius: 0;
      padding: 0 40px 0 15px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
      font-size: 14px;
      font-weight: normal;

      &:focus {
        border-color: #7e868f;
      }

      &:hover {
        border-color: #7e868f;
      }
    }

    textarea {
      height: 170px;
      border: 1px solid #dfdfdf;
      width: 100%;
      display: block;
      padding: 15px;
      resize: none;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
      border-radius: 0;
      padding-right: 40px;
      font-weight: normal;
    }

    .icon {
      position: absolute;
      right: 15px;
      z-index: 33;
      color: $lerui-blue;
      top: 12px;
    }
  }

  .form-group.textarea {
    .icon {
      top: 15px;
      right: 15px;
    }
  }
}

.contact-box-main {
  .single-contact-box {
    i {
      color: $lerui-blue;
      margin-right: 10px;
    }
  }
}

.map-area {
  padding: 50px 0;

  #map {
    position: relative;
    z-index: 999;
    height: 400px;
  }

  .amap-icon img,
  .amap-marker-content img {
    width: 25px;
    height: 34px;
  }

  .marker {
    position: absolute;
    top: -10px;
    right: -200px;
    color: #fff;
    padding: 4px 10px;
    box-shadow: 1px 1px 1px rgba(10, 10, 10, .2);
    white-space: nowrap;
    font-size: 12px;
    background-color: #25A5F7;
    border-radius: 3px;
  }

  .input-card {
    width: 18rem;
    z-index: 170;
  }

  .input-card .btn {
    margin-right: .8rem;
  }

  .input-card .btn:last-child {
    margin-right: 0;
  }
}


.new-category {
  li.list-group-item {
    margin-right: 10px;

    &:first-child, &:last-child {
      border-radius: 0;
    }

    a {
      color: $lerui-black;
    }

    &.active, &:hover {
      background: #2d6ce0;

      a {
        color: $white;
      }
    }
  }

}


.side-menu {
  .list-group-item {
    border-radius: 0;
    border-left: none;
    border-right: none;

    &:after {
      font-family: "Font Awesome 5 Free";
      content: '\f105';
      font-weight: 900;
      font-size: 14px;
      float: right;
    }

    &:first-child {
      border-top: 1px solid $white;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      color: $white;
      background: $lerui-blue;
    }
  }
}

#product_main_image {
  .carousel-inner {
    img {
      cursor: pointer;
      transition: all 0.6s;
    }
  }

  .carousel-indicators {
    position: static;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;

    & > li {
      width: 100px;

      img {
        display: block;
        opacity: 0.5
      }

      &:hover {
        opacity: 0.75

      }

      .active img {
        opacity: 1
      }
    }
  }
}

.content {
  p {
    color: #666666;
  }
}
